<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<form>
<h2> select what you love</h2>
<input type="checkbox" id="html" checked> HTML
<input type="checkbox" id="CSS"> CSS
<input type="checkbox" id="JS"> JavaScript
<br>

<input type="radio" id="class" name="2" value="a"> Class A
<br>
<input type="radio" id="class" name="2" value="a" > Class B

<br>
<labe for="in"> HTML</labe>
<labe for="inn"> CSS</labe>
<br>
<input id="inn" placeholder="HTML">
<input id="in" placeholder="CSS">

<button type="button" value="btn"> click me! </button>
<br><br>

<labe for="text"> textarea</labe>
<textarea style=" resize: none;" cols="50" rows="10"placeholder="type text" id="text"></textarea>
<br>
<br>

<h2>orange family</h2>
    <select name="academy">
        <option value="a">class A</option>
        <option value="b">class A</option>
        <option value="staff">ca-staff</option>
    </select>


</form>

</body>
</html>